:root {
  --color-gray: #242323;
  --color-light-gray: #f5f5f5;
  --color-body-gray: #f9fafa;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  background-color: var(--color-body-gray)
}

/* ------ Header ------ */

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background: var(--color-gray);
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

nav a {
  color: var(--color-light-gray);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

nav a:hover {
  color: #aaa;
}

nav * {
  transition: all 0.2s ease-in-out;
}

.nav-btn {
  border: 1px solid #ffffff;
  padding: 0.7rem 1.5rem;
  background: transparent;
  color: white;
  cursor: pointer;
}

.nav-btn:hover {
  background: #ffffff;
  color: var(--color-gray);
}

/* ------ BODY ------ */
.body-container {
  margin: 0 auto;
  /* margin-top: 100px; */
  max-width: 1000px;
}

.content {
  position: relative;
  text-align: center;
  margin: 1rem auto;
  height: calc(100vh + 6rem);
}

/* ------ HOME ------ */

.hotel-text {
  margin: 5rem 0;
  border: 1px solid red;
}

.big-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.small-text {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
}

.parallax-img {
  position: relative;
  width: 980px;
  height: 631px;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://static.wixstatic.com/media/84770f_2d6f401da0284208a7ad5d274041dffd~mv2_d_2500_1658_s_2.jpg/v1/fill/w_980,h_631,al_c,q_85,usm_0.66_1.00_0.01/84770f_2d6f401da0284208a7ad5d274041dffd~mv2_d_2500_1658_s_2.webp");
  margin-bottom: 2rem;
}

.home {
  background-color: aqua;
}

/* ------ ABOUT ------ */
.date-wrapper {
  width: 100%;
  height: 50px;
  background-color: darkcyan;
  margin: 2rem auto 5rem auto;
}

.about {
  background-color: #242323;
}

/* ------ ROOMS ------ */
.rooms {
  border: 1px solid green;
  display: grid;
  place-items: center;
}

.rooms-parallax-img {
  position: relative;
  width: 980px;
  /* height: 631px; */
  height: 100vh;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://static.wixstatic.com/media/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.jpg/v1/fill/w_980,h_630,al_c,q_85,usm_0.66_1.00_0.01/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.webp");
  z-index: 1;
}

.rooms-content-card {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 500px;
  background-color: cornflowerblue;
}
