:root {
  --color-gray: #242323;
  --color-light-gray: #f5f5f5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #242323;
  line-height: 1.5;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  background-color: #ffffff; 
}

/* ------ Header ------ */

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background: var(--color-gray);
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

nav a {
  color: var(--color-light-gray);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

nav a:hover {
  color: #aaa;
}

nav * {
  transition: all 0.2s ease-in-out;
}

/* ------ BODY ------ */
.body-container {
  margin: 0 auto;
  max-width: 1000px;
}

.content {
  position: relative;
  text-align: center;
  margin: 1rem auto;
}

/* ------ HOME ------ */

.hotel-text {
  margin: 5rem 0;
  border: 1px solid red;
}

.big-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.small-text {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
}

.parallax-img {
  position: relative;
  width: 980px;
  height: 631px;
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://static.wixstatic.com/media/84770f_2d6f401da0284208a7ad5d274041dffd~mv2_d_2500_1658_s_2.jpg/v1/fill/w_980,h_631,al_c,q_85,usm_0.66_1.00_0.01/84770f_2d6f401da0284208a7ad5d274041dffd~mv2_d_2500_1658_s_2.webp");
}

.home {
  background-color: aqua;
}

/* ------ ABOUT ------ */
.about {
  height: calc(100vh - 80px - 1rem);
  padding: 2.5rem 0;
}

.date-wrapper {
  width: 100%;
  height: 50px;
  background-color: darkcyan;
}

.about-text-wrapper {
  width: 100%;
  height: 100%;
  background-color: #f9fafa;
  display: grid;
  place-content: center;
  background: green;
}

.about-text {
  margin: 0 auto;
  border: 1px solid red;
  width: 60%;
  height: auto;
}

/* ------ ROOMS ------ */
.rooms {
  height: 100vh;
  border: 1px solid green;
  display: grid;
  place-items: center;
}

.rooms-parallax-img {
  position: relative;
  width: 980px;
  /* height: 631px; */
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://static.wixstatic.com/media/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.jpg/v1/fill/w_980,h_630,al_c,q_85,usm_0.66_1.00_0.01/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.webp");
  z-index: 1;
}

.rooms-content-card {
  position: absolute;
  margin: 0 auto;
  padding: 0 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 400px;
  background-color: var(--color-body-gray);
  z-index: 1;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2rem;
}

/* ------ SERVICES ------ */
.services {
  height: 100vh;
  border: 1px solid blue;
  padding-top: 10rem;
}

.service-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  margin-top: 2rem;
  place-content: center;
  place-items: center;
}

.service-item {
  width: 80%;
  height: 150px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.service-item > div {
  margin: 0.5rem auto;
}

.service-item-icon {
  width: 50px;
  height: 50px;
  border: 1px solid dodgerblue;
}

/* ------ GALLERY ------ */
.gallery {
  height: 100vh;
  border: 1px solid orange;
  padding-top: 10rem;
}

/* ------ Things to do ------ */
.things-to-do {
  height: 100vh;
  border: 1px solid purple;
  padding-top: 10rem;
}

.seeanddo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  margin-top: 2rem;
  place-content: center;
  place-items: center;
}

.seeanddo-item {
  width: 80%;
  height: 150px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.seeanddo-item > div {
  margin: 0.5rem auto;
}


/* ------------------------ */
/* ------ Guest Review ------ */
.guest-review {
  height: 100vh;
  position: relative;
  width: 980px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://static.wixstatic.com/media/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.jpg/v1/fill/w_980,h_630,al_c,q_85,usm_0.66_1.00_0.01/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.webp");
  z-index: 1;
}

.guest-review-card {
  position: absolute;
  margin: 0 auto;
  padding: 0 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 400px;
  background-color: var(--color-body-gray);
  z-index: 1;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2rem;
}


/* ------ Contact ------ */
.contact-container {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f5;
  text-align: center;
  padding-top: 4.5rem;  
}
.contact-form {
  max-width: 700px;
  margin: 0 auto;
}

.contact-form > input {
  background-color: #ffffff;
  border: 1px solid #242323;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

/* --------------------------- */
/* ------ UTILS ------ */

.btn {
  padding: 0.8rem 2rem;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0;
  text-transform: none;
  transition: 300ms ease-in-out;
}

/* Dark Button */
.btn-dark {
  background-color: var(--color-gray);
  border: 1px solid white;
  color: white;
}

.btn-dark:hover {
  background-color: white;
  color: var(--color-gray);
}

.btn-light {
  background-color: white;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}

.btn-light:hover {
  background-color: var(--color-gray);
  color: white;
}

.btn-dark-submit {
  background-color: var(--color-gray);
  border: 1px solid white;
  color: white;
}


.paragraph-big-text {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-gray);
  margin: 1rem auto;
}

.paragraph-small-text {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 100;
}
